{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="cyber-text mb-4">ДОБРО ПОЖАЛОВАТЬ, {{ name }}</h1>
        
        {% if grade == '11' %}
            <div class="list-group col-md-8 mx-auto text-start mt-4">
                <a href="/lesson/grade11/codes" class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-center p-3 fs-5">
                    <div>
                        <span class="badge bg-secondary me-2">Урок 9</span>
                        Практическая работа по теме "Помехоустойчивые коды"
                    </div>
                    <span>🚀</span>
                </a>
            </div>
        {% else %}
            <div class="list-group col-md-8 mx-auto text-start mt-4">
                <a href="/lesson/grade8/octal" class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-center p-3 fs-5">
                    <div>
                        <span class="badge bg-secondary me-2">Урок 4</span>
                        Восьмеричная система счисления
                    </div>
                    <span>🔓</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
