{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="cyber-text mb-4">ДОБРО ПОЖАЛОВАТЬ, {{ name }}</h1>
        <p class="lead text-light mb-5">Межзвездная связь нестабильна. Ваша задача - восстановить поврежденные сигналы с помощью теории кодирования.</p>
        
        <div class="d-grid gap-4 col-md-8 mx-auto">
            <a href="/theory" class="btn btn-primary btn-lg p-3 fw-bold">📖 БАЗА ЗНАНИЙ (ТЕОРИЯ)</a>
            <a href="/mission_parity" class="btn btn-outline-success btn-lg p-3 fw-bold">🔎 МИССИЯ 0: БИТ ЧЕТНОСТИ</a>
            <a href="/mission1" class="btn btn-outline-info btn-lg p-3 fw-bold">🚀 МИССИЯ 1: КОД С ПОВТОРЕНИЕМ</a>
            <a href="/mission2" class="btn btn-outline-warning btn-lg p-3 fw-bold">🛰️ МИССИЯ 2: КОД ХЭММИНГА</a>
        </div>
    </div>
</div>
{% endblock %}
